body {
background: url('wallpaper.jpg');
background-size: 100%;
overflow: hidden;
}


.grid-container {
  text-align: center;
  display: grid;
  width: 7%;
  gap: 10%;
  font-size: 10px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-shadow: 1px 1px #000000;
  color: white;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.379);
  margin-top: 1%;
}




.taskOpened {
  box-shadow:0px 0px 0px 1px rgb(255, 255, 255) inset;
  display: grid;
  place-items: center;
  height: 99%;
  width: 15%;
  float: left;
  text-align: center;
  font-family: 'Segoe UI', Tahoma, sans-serif;
  font-size: 15px;
  background-color: #441616;
  color: white;
}
.taskOpened:hover {
  background-color: #837e7e74;
}


.taskSearch {
  float: left;
  height: 100%;
  text-align: center;
  font-family: 'Segoe UI', Tahoma, sans-serif;
  font-size: 15px;
  background-color: #3F3F3F;
  border: 1px solid transparent;
  color: white;
}

.taskSearch:hover, .taskSearch:active {
background-color: #4C4C4C;
}

.taskSearch:focus {
background-color: white;
color: black;
}

.taskbar {
  box-shadow:0px 0px 0px 1px rgb(255, 255, 255) inset;
  width: 100%;
  color: #FFFFFF;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  height: 5%;
  background-color: #000000;
  opacity: 0.9;
  z-index:2;
  margin-bottom: 0.01%;
}

a {
  text-decoration: none;
}
a:link, a:visited {
  color: rgb(255, 255, 255);
}
a:hover {
  color: rgb(255, 250, 250);
}

.taskbarTime {
  float: right;
  width: 3%;
  height: 99%;
  background-color: #00000000;
  opacity: 0.9;
  color: white;
  
  font-family: 'Segoe UI', Tahoma, sans-serif;
}

#currentTime {
  height: 100%;
  opacity: 0.9;
  pointer-events: none;
  font-family: 'Segoe UI', Tahoma, sans-serif;
  color: #FFFFFF;
  background-color: #00000000;
  opacity: 0.9;
}

.sampleWindows {display: block;}

#notepad {
  position: absolute;
  top: 1%;
  left: 10%;
  width: 40%;
  height: 90%;
  overflow: hidden;
}

#video {
  position: absolute;
  top: 45%;
  left: 55%;
  overflow: scroll;
  width: 30%;
  height: 40%;
}

#gif {
  position: absolute;
  top: 1%;
  left: 55%;
  width: 30%;
  height: 40%;
}


.window {
border-width: 1px;
border-style: solid;
display: inline-block;
overflow: hidden;
resize: both;
}

.window:hover {
border-width: 2px;
border-style: solid;
border-color: blue;
display: inline-block;
overflow: hidden;
resize: both;
}

.title {
position: relative;
background: white;
height: 30px;
}

.titleContent {
position: absolute;
}

.titleText {
font-family: 'Segoe UI', Tahoma, sans-serif;
font-size: 12px;
display: inline;
padding: 20px;
}

.titleContent {
display: inline;
}

.iconContainer {
display: inline;
position: relative;
}

.icon {
position: absolute;
top: 40%;
}

.closeBtn {
display: inline;
float: right;
width: 45px;
height: 30px;
font-size: 25px;
font-family: 'Times New Roman', Times, serif;
text-align: center;
}

.closeBtn:hover {
background: red;
color: white;
}

.winbody {
background: #F0F0F0;
height: 100%;
width: 100%;
overflow: hidden;
position: relative;
left: 0;
top: 0;
z-index:1;
}

.menubar {
background: #FFFFFF;
font-family: 'Segoe UI', Tahoma, sans-serif;
font-size: 12px;
border-bottom:solid #F0F0F0 2px;
}

.menubarItem {
background: #FFFFFF;
font-family: 'Segoe UI', Tahoma, sans-serif;
font-size: 12px;
border: 2px solid white;
padding: 0px 4px;
transition: 0.1s;
}

.menubarItem:hover{
color: black;
background: #91C9F7;
border: 2px solid #91C9F7;
}

.wintext {
font-family: 'Segoe UI', Tahoma, sans-serif;
font-size: 9pt;
text-align: left;
padding: 10px;
}

.textBox {
background: white;
font-family: Consolas;
font-size: 11pt;
border: #0078D7;
border-width: 1px;
border-style: solid;
padding: 5px;
width: 98.5%;
height: 90%;
overflow: scroll;
resize:none;
}


.startIconFrame {
float: left;
display: inline-block;
width: 120px;
}


/* @media (max-width: 1000px) {
  .taskSearch {
  float: left;
  text-align: left;
  width: 48px;
  height: 38px;
  padding-left: 11px;
  font-family: 'Segoe UI', Tahoma, sans-serif;
  font-size: 15px;
  background-color: #3F3F3F;
  color: white;
  border: 1px solid transparent;
  }
}
@media (max-height: 600px) {
  .taskbar {
    display: none;
  }
} */
